doctype html
// HTML for static distribution bundle build
html(lang='en')
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-115463658-5')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-115463658-5');

    meta(charset='UTF-8')
    title REST V2 by Bitcoin.com - BCH RPC over HTTP
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='../../public/swagger-ui-v2.css')
    link(rel='icon', type='image/png', href='../public/new-favicon.png', sizes='32x32')
    style.
      html
      {
      box-sizing: border-box;
      overflow: -moz-scrollbars-vertical;
      overflow-y: scroll;
      }
      *,
      *:before,
      *:after
      {
      box-sizing: inherit;
      }
      body
      {
      margin:0;
      background: #ffffff;
      }
  body
    #swagger-ui
    script(src='../public/swagger-ui-bundle.js')
    script(src='../public/swagger-ui-standalone-preset.js')
    script.
      window.onload = function() {
      let network = "#{env.NETWORK}"
      let path;
      if(network === 'mainnet') {
        path = "../public/bitcoin-com-mainnet-rest-v2.json" 
      } else {
        path = "../public/bitcoin-com-testnet-rest-v2.json" 
      }
      const ui = SwaggerUIBundle({
        
      url: path,
      dom_id: '#swagger-ui',
      deepLinking: true,
      presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
      ],
      plugins: [
      SwaggerUIBundle.plugins.DownloadUrl
      ],
      layout: "StandaloneLayout"
      })
      window.ui = ui
      }
